<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite de pruebas" thread-count="1" parallel="tests">

    <test name="Test GetObjects">
        <classes>
            <class name="test.apiPublica.GetObjects"> </class>
        </classes>
    </test>

    <test name="Test GetSingleObject">
        <classes>
            <class name="test.apiPublica.GetSingleObject"> </class>
        </classes>
    </test>

    <test name="Test PostObject">
        <classes>
            <class name="test.apiPublica.PostObject"> </class>
        </classes>
    </test>
    <test name="Test PutObject">
        <classes>
            <class name="test.apiPublica.PutObject"> </class>
        </classes>
    </test>
    <test name="Test PatchObject">
        <classes>
            <class name="test.apiPublica.PatchObject"> </class>
        </classes>
    </test>
    <test name="Test DeleteObjects">
        <classes>
            <class name="test.apiPublica.DeleteObjects"> </class>
        </classes>
    </test>
</suite>